{% render 'partials/head.liquid', title: 'Capture Snapp', captureSnapp: true, oneSnappMappName: oneSnappMapp.slug %}

<section class="capture-snap-page">
  <img id="display-image" src="/assets/grey-background-placeholder.jpg" width="40%">

  <h2>{{ oneSnappMapp.name }}</h2>

  <form method="POST" action="/snappmaps/{{ oneSnappMapp.slug}}" enctype="multipart/form-data">
    <input id="upload-snapp" type="file" name="file" capture="environment" required accept="image/*">

    {% comment %} Capture button {% endcomment %}
    <label for="upload-snapp" class="upload-snap add-snapp-link-button capture-button">
      <svg viewBox="0 0 43 36" xmlns="http://www.w3.org/2000/svg" height="30">
          <title>Capture snapp</title>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5 15.05C18.4178 15.05 15.91 17.5578 15.91 20.64C15.91 23.7222 18.4178 26.23 21.5 26.23C24.5823 26.23 27.09 23.7222 27.09 20.64C27.09 17.5578 24.5823 15.05 21.5 15.05ZM30.96 5.59C30.96 2.5026 28.4574 0 25.37 0H17.63C14.5426 0 12.04 2.5026 12.04 5.59H5.59C2.5026 5.59 0 8.0926 0 11.18V30.1C0 33.1874 2.5026 35.69 5.59 35.69H37.41C40.4974 35.69 43 33.1874 43 30.1V11.18C43 8.0926 40.4974 5.59 37.41 5.59H30.96ZM21.5 30.53C16.0463 30.53 11.61 26.0933 11.61 20.64C11.61 15.1868 16.0463 10.75 21.5 10.75C26.9537 10.75 31.39 15.1868 31.39 20.64C31.39 26.0933 26.9537 30.53 21.5 30.53Z" fill=""/>
      </svg>
    </label>

    {% comment %} Recapture button {% endcomment %}
    <label for="upload-snapp" class="redo-button is-hidden">
      <svg height="30" viewBox="0 0 69 69" xmlns="http://www.w3.org/2000/svg" fill="">
        <title>Recapture snapp</title>
        <path d="M8.89453 30.8119C9.56296 26.0537 11.5472 21.5759 14.6244 17.8817C17.7016 14.1875 21.7496 11.4233 26.3138 9.89973C30.8779 8.37613 35.7771 8.15354 40.461 9.25696C45.1448 10.3604 49.4276 12.7461 52.8281 16.146V16.2805L53.9062 17.2224H47.4375C46.2938 17.2224 45.1969 17.676 44.3881 18.4835C43.5794 19.2909 43.125 20.3861 43.125 21.528C43.125 22.6699 43.5794 23.765 44.3881 24.5725C45.1969 25.38 46.2938 25.8336 47.4375 25.8336H64.6875C67.1133 25.8336 69 23.9499 69 21.528V4.3056C69 3.16368 68.5457 2.06854 67.7369 1.26108C66.9282 0.453624 65.8312 0 64.6875 0C63.5438 0 62.4468 0.453624 61.6381 1.26108C60.8293 2.06854 60.375 3.16368 60.375 4.3056V11.4367L58.8926 10.0912C54.3584 5.58493 48.6585 2.42614 42.4297 0.96784C36.2009 -0.490459 29.6887 -0.190824 23.6207 1.83326C17.5526 3.85735 12.1679 7.52616 8.06803 12.4297C3.96818 17.3333 1.31478 23.2785 0.404297 29.601C0.255779 30.1864 0.232273 30.7965 0.335306 31.3916C0.438339 31.9866 0.665608 32.5534 1.00235 33.0551C1.33908 33.5568 1.77776 33.9821 2.28988 34.3035C2.802 34.6248 3.37611 34.8351 3.9749 34.9205C4.5737 35.0059 5.1838 34.9646 5.76556 34.7992C6.34732 34.6339 6.88774 34.3482 7.3517 33.9607C7.81566 33.5732 8.19279 33.0926 8.4586 32.5502C8.7244 32.0077 8.87293 31.4154 8.89453 30.8119ZM68.5957 39.4231C68.6781 38.3448 68.3511 37.2751 67.6796 36.4266C67.0082 35.578 66.0415 35.0128 64.9718 34.8433C63.902 34.6737 62.8075 34.9123 61.9059 35.5116C61.0043 36.1108 60.3616 37.0269 60.1055 38.0776C59.4163 42.8247 57.4169 47.2864 54.3313 50.9631C51.2458 54.6398 47.1959 57.3862 42.6353 58.8946C38.0746 60.4031 33.1834 60.614 28.5095 59.5039C23.8356 58.3937 19.5635 56.0063 16.1719 52.609L15.0938 51.6672H21.5625C22.7062 51.6672 23.8031 51.2135 24.6119 50.4061C25.4206 49.5986 25.875 48.5035 25.875 47.3616C25.875 46.2196 25.4206 45.1245 24.6119 44.317C23.8031 43.5096 22.7062 43.056 21.5625 43.056H4.3125C3.16875 43.056 2.07185 43.5096 1.2631 44.317C0.454351 45.1245 0 46.2196 0 47.3616L0.134766 64.4494C0.134766 66.8713 2.15625 68.755 4.44727 68.755C6.87305 68.755 8.75977 66.7367 8.75977 64.4494V57.4528L10.1074 58.7983C14.6119 63.3522 20.3023 66.5575 26.5357 68.0518C32.7691 69.5461 39.2968 69.2698 45.3812 67.2543C51.4656 65.2387 56.864 61.5642 60.9663 56.6461C65.0686 51.7279 67.7113 45.7622 68.5957 39.4231Z" fill=""/>
      </svg>
    </label>

    {% comment %} Hidden input to send extra data in server.js{% endcomment %}
    <input hidden name="uuid" value="{{ oneSnappMapp.uuid}}">

    <button type="submit" id="send-button" hidden>
      <p>OK</p>
      {% comment %} <svg fill="" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 121 109">
        <title>Add snapp</title>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.10487 0.313129L117.683 50.3692C118.377 50.6026 118.983 51.04 119.424 51.6241C119.864 52.2083 120.118 52.9119 120.152 53.6427C120.185 54.3736 119.997 55.0975 119.612 55.7197C119.227 56.3418 118.664 56.8331 117.994 57.1292L5.13316 107.765C4.48494 108.057 3.76518 108.153 3.06322 108.039C2.36127 107.926 1.70804 107.609 1.18462 107.128C0.6612 106.647 0.290636 106.022 0.118932 105.332C-0.0527713 104.642 -0.0180518 103.917 0.218774 103.247L13.6184 64.773L74.1185 54.0391L13.7599 43.3052L0.204623 4.83154C-0.0299874 4.16271 -0.0636576 3.43982 0.107765 2.75207C0.279188 2.06433 0.648204 1.44181 1.16928 0.961337C1.69036 0.480861 2.34071 0.163447 3.04007 0.0482588C3.73944 -0.0669297 4.45723 0.0251477 5.10487 0.313129Z" fill=""/>
      </svg> {% endcomment %}
    </button>
  </form>

  {% comment %} Alert if snapp didn't add and has an error {% endcomment %}
  {% if status == 'error' %}
    <div class="status-succes-or-error">
      <p>Error!</p>
      <p>Try again to add your snapp.</p>
      <a href="/snappmaps/{{ oneSnappMapp.slug }}/capture">OK</a>
      <a href="/snappmaps/{{ oneSnappMapp.slug }}">Maybe later</a>
    </div>
  {% endif %}
</section>
