{% render 'partials/head.liquid', title: 'Your groups', MultipleGroups: true %}

{% for OneGroup in MultipleGroupslist %}
  <ul class="list">
    {% comment %} Make variable for the date of 'today' {% endcomment %}
    {% assign today_date = 'now' | date: '%Y%m%d' %}

    {% comment %} Make variable of the end-date of the 'snappmap' {% endcomment %}
    {% comment %} 'snappmap' has multiple items, hence the for-loop {% endcomment %}
    {% for snappmap in OneGroup.snappmap %}
      {% assign target_date = snappmap.snappthis_snapmap_uuid.time_end | date: '%Y%m%d' %}
    {% endfor %}

    {% comment %} If the end-date of the 'snapmap' has not yet ended before the date of 'today', make the name bold {% endcomment %}
    {% if target_date > today_date %}
      <li>
        <a href="/groups/{{ OneGroup.slug }}" class="link-in-list" style="font-family: 'Bariol-Bold';">
          {{- OneGroup.name -}}
        </a>
      </li>
      <li class="active"><strong>Add your snapp!</strong></li>
    {% else %}
      <li>
        <a href="/groups/{{ OneGroup.slug }}" class="link-in-list">{{ OneGroup.name }}</a>
      </li>
      <li class="members-count">{{ OneGroup.users_count }} members</li>
    {% endif %}

    {% comment %} Add user & add snappmap buttons {% endcomment %}
    <li class="buttons-in-list">
      <ul>
        <li>
          <button>
            <svg height="30" viewBox="0 0 59 47" xmlns="http://www.w3.org/2000/svg" fill="">
              <title>Add user to group</title>
              <path d="M41.501 24.6875C51.0152 24.6875 58.75 32.7385 58.75 42.6143V46.75H24.25V46.5L24.251 42.6143C24.251 32.7395 31.9716 24.6878 41.501 24.6875ZM14.4639 0.25V10.5361H24.75V14.4639H14.4639V24.75H10.5361V14.4639H0.25V10.5361H10.5361V0.25H14.4639ZM41.499 0.25C47.5786 0.250256 52.5281 5.19452 52.5244 11.2773L52.5107 11.8438C52.2151 17.6635 47.3898 22.3123 41.499 22.3125C35.4202 22.3125 30.4756 17.359 30.4756 11.2773C30.4756 5.19458 35.4256 0.25 41.499 0.25Z" stroke="#4E6977" stroke-width="0.5"/>
            </svg>
          </button>
        </li>
        <li>
          <button>
            <svg height="30" viewBox="0 0 73 49" xmlns="http://www.w3.org/2000/svg">
              <title>Add snappmap to group</title>
              <path d="M47.4443 0.594727C48.8732 0.594727 50.04 1.74266 50.04 3.16113C50.04 4.57959 48.8733 5.72852 47.4443 5.72852C47.3834 5.72852 47.3511 5.73056 47.334 5.73242C47.3266 5.73323 47.3231 5.73419 47.3223 5.73438C47.3221 5.73441 47.3218 5.73389 47.3203 5.73438C47.319 5.73481 47.3172 5.73605 47.3135 5.7373C47.3103 5.73838 47.3045 5.74035 47.2988 5.74219C47.2862 5.7463 47.2701 5.75046 47.251 5.75488L47.1152 5.77344C37.2519 6.44708 29.4407 14.5846 29.4404 24.4834C29.4404 34.8228 37.9607 43.24 48.4395 43.2402C58.9189 43.2402 67.4395 34.8229 67.4395 24.4834C67.4394 21.3969 67.0451 18.8177 66.1025 16.5996C65.219 14.5205 63.8481 12.7458 61.8438 11.1641L61.8516 18.8232C61.8524 20.241 60.6862 21.3904 59.2578 21.3926H59.2568C57.829 21.3924 56.6622 20.244 56.6611 18.8262L56.6523 6.37598V6.375C56.6523 6.33606 56.6518 6.31901 56.666 6.1084L56.667 6.09766C56.6746 6.03002 56.6813 5.9894 56.7119 5.82715L56.7139 5.81641L56.7549 5.66113C56.8596 5.30769 57.0283 5.00302 57.2754 4.70605L57.2783 4.70215C57.4191 4.5399 57.5553 4.42114 57.7695 4.26367L57.7793 4.25684C58.1299 4.02441 58.5103 3.8795 58.8975 3.83008C58.9389 3.82372 58.9891 3.8182 59.2051 3.80762H59.2373C59.2426 3.8075 59.2482 3.80673 59.2529 3.80664C59.2564 3.80657 59.2631 3.80664 59.2676 3.80664C59.3366 3.80665 59.4091 3.81292 59.5391 3.8252H59.542C59.586 3.82974 59.6137 3.83224 59.6582 3.83984L59.877 3.88379L59.8838 3.88574L59.9941 3.91602L60.1846 3.98047L60.1934 3.9834V3.98438L60.4463 4.09863L60.4531 4.10156C64.3052 6.1006 66.7514 8.29569 69.0322 11.9443C71.3861 15.7063 72.6288 20.0426 72.6289 24.4834C72.6289 27.708 71.9893 30.8384 70.7266 33.7852C69.5077 36.6305 67.7639 39.1857 65.543 41.3789C63.3231 43.5701 60.7361 45.2921 57.8555 46.4961C54.8717 47.7417 51.7025 48.373 48.4395 48.373C45.1761 48.373 42.0085 47.7416 39.0254 46.4961C36.145 45.293 33.5574 43.5706 31.3369 41.3779V41.377C29.1164 39.1845 27.3721 36.6306 26.1533 33.7852C24.8905 30.837 24.25 27.7067 24.25 24.4834C24.2501 21.2607 24.8906 18.1307 26.1533 15.1826C27.3721 12.3366 29.1167 9.78198 31.3369 7.59082L31.7578 7.18457C33.8819 5.18388 36.3251 3.60056 39.0254 2.47266C41.7454 1.33707 44.2348 0.708384 47.1367 0.608398L47.2451 0.603516C47.2428 0.603837 47.2385 0.60438 47.2334 0.605469C47.2162 0.609154 47.2016 0.614285 47.1992 0.615234C47.2497 0.595125 47.2974 0.596078 47.3105 0.595703C47.3347 0.595004 47.3751 0.594727 47.4443 0.594727ZM48.04 11.8105C50.7006 11.8106 52.7709 12.416 54.1494 13.6543L54.3975 13.8887C55.5206 15.0064 56.1369 16.4388 56.2402 18.1406L56.2549 18.5098V18.7842L56.2539 18.793V18.8018C56.2267 19.1389 56.1275 19.608 55.8047 20.1104C55.266 20.9488 54.3964 21.3847 53.3232 21.3848C52.2418 21.3848 51.3527 20.922 50.8584 20.0586V20.0576C50.5475 19.5163 50.493 19.0164 50.4883 18.7607V18.5293C50.4882 17.889 50.354 17.4429 50.1104 17.1348L49.999 17.0107C49.7024 16.7186 49.0824 16.5254 48.1289 16.5254C47.1765 16.5255 46.5565 16.7182 46.2598 17.0098V17.0107C45.9448 17.3202 45.7705 17.7892 45.7705 18.498C45.7706 18.9834 45.8956 19.3937 46.1523 19.7568L46.2705 19.9092L46.4434 20.1064C46.8598 20.564 47.3709 21.0008 47.9688 21.4053H47.9697C48.7091 21.9064 49.5293 22.4066 50.4082 22.8926V22.8936C51.3719 23.4282 52.2763 24.0203 53.0957 24.6543C53.9672 25.3283 54.7111 26.1087 55.3037 26.9727C55.9674 27.94 56.3008 29.0881 56.3008 30.376C56.3008 32.4342 55.5848 34.1273 54.166 35.3848L54.167 35.3857C52.7741 36.6201 50.6827 37.2236 47.9951 37.2236C45.3054 37.2236 43.2192 36.6191 41.8398 35.3809C40.4391 34.1227 39.7344 32.431 39.7344 30.376V29.0957C39.7297 28.6522 39.8513 28.1845 40.0742 27.7764L40.2021 27.5684C40.5496 27.0579 41.26 26.4082 42.6006 26.4082C43.9436 26.4082 44.6526 27.0602 44.998 27.5723L45.125 27.7812C45.4206 28.3288 45.4607 28.8362 45.457 29.0977V30.5049C45.457 31.2243 45.6385 31.6956 45.9668 32.002L46.1074 32.1143C46.4667 32.3618 47.0541 32.5088 47.9053 32.5088C48.8779 32.5088 49.5068 32.3164 49.8438 32.002C50.1721 31.695 50.3535 31.2234 50.3535 30.5049C50.3535 30.0216 50.2301 29.6176 49.9775 29.2656L49.8613 29.1182C49.4131 28.5939 48.84 28.093 48.1553 27.6299H48.1543C47.4128 27.1279 46.5982 26.6252 45.7324 26.1377C44.7902 25.6076 43.8962 25.0157 43.0742 24.3809C42.31 23.7895 41.6447 23.1191 41.0938 22.3818L40.8652 22.0615C40.2017 21.0958 39.8682 19.9475 39.8682 18.6582C39.8682 16.5804 40.5748 14.8812 41.9795 13.6338C43.358 12.4099 45.4111 11.8105 48.04 11.8105ZM59.2852 22.0049C60.9774 22.0049 62.3594 23.3656 62.3594 25.0439C62.3593 26.7232 60.9774 28.083 59.2852 28.083C57.5929 28.083 56.212 26.7231 56.2119 25.0439C56.2119 23.3656 57.5929 22.0049 59.2852 22.0049ZM14.4639 0.873047V11.1592H24.75V15.0879H14.4639V25.373H10.5361V15.0879H0.25V11.1592H10.5361V0.873047H14.4639ZM53.7148 0.25C55.407 0.250209 56.7891 1.61092 56.7891 3.29004C56.789 4.96914 55.4069 6.32987 53.7148 6.33008C52.0225 6.33008 50.6406 4.96922 50.6406 3.29004C50.6406 1.61084 52.0225 0.25 53.7148 0.25Z" stroke="#4E6977" stroke-width="0.5" fill=""/>
            </svg>
          </button>
        </li>
      </ul>
    </li>
  </ul>
{% endfor %}

{% render 'partials/foot.liquid', SnappthisGroups: true %}
